museum/taxonfootprint/Service References/BigfootWS/Bigfoot1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.tubri.org/museum/webservices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.tubri.org/museum/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.tubri.org/museum/webservices">
      <s:element name="GenerateFootprint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateFootprintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateFootprintResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateFootprintSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateFootprint" />
  </wsdl:message>
  <wsdl:message name="GenerateFootprintSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateFootprintResponse" />
  </wsdl:message>
  <wsdl:portType name="BigfootSoap">
    <wsdl:operation name="GenerateFootprint">
      <wsdl:input message="tns:GenerateFootprintSoapIn" />
      <wsdl:output message="tns:GenerateFootprintSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BigfootSoap" type="tns:BigfootSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateFootprint">
      <soap:operation soapAction="http://www.tubri.org/museum/webservices/GenerateFootprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BigfootSoap12" type="tns:BigfootSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateFootprint">
      <soap12:operation soapAction="http://www.tubri.org/museum/webservices/GenerateFootprint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bigfoot">
    <wsdl:port name="BigfootSoap" binding="tns:BigfootSoap">
      <soap:address location="http://www.tubri.org/museum/webservices/bigfootws/Bigfoot.asmx" />
    </wsdl:port>
    <wsdl:port name="BigfootSoap12" binding="tns:BigfootSoap12">
      <soap12:address location="http://www.tubri.org/museum/webservices/bigfootws/Bigfoot.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>